doctype
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="/css/main.css")
    title Geometric Pattern Generator
  body
    .container
      .twelve.columns
        != yield
script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')

include script.js